:root {
  --bgColor1: #84debc;
  --bgColor2: #64af92;
  --colorW: #fff;
  --fontColor1: #333;
  --fontColor2: #333;

}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bgColor1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appTtl {
  color: var(--colorW);
  font-size: 2rem;
  text-align: center;
  margin: 60px auto 40px;
}

#container .react-tabs {
  border: none;
}

#container .react-tabs__tab {
  background: var(--bgColor2);
  color: var(--colorW);
  padding: .8em;
  border-radius: 5px 5px 0 0;
  margin-right: .5em;
  bottom: 0;
  font-weight: 600;
}

#container .react-tabs__tab--selected {
  background: var(--colorW);
  color: var(--bgColor1);
  border: none;
}

#container .tab {
  max-width: 1040px;
  width: 96%;
  animation: fadeIn 1s ease-in-out normal;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#container .tabArea {
  margin-top: 60px;
}

#container .tabList {
  padding: 0;
  margin: 0 auto;
}

#container .react-tabs__tab-panel {
  background: var(--colorW);
  border-radius: 0 5px 5px 5px;
  padding: 10px 20px;

}

#container .slick-slider {
  margin: auto;
  text-align: center;
  width: 500px;
}

#container .slick-slider img {
  width: 100%;
  height: 100%;
}